.footer {
    background-image: url('/Users/yeongheonlee/PennApps/technical/src/assets/footer-background.png');
    background-color: #FAF5E7; /* Or any other color you prefer */
    background-size: cover;
    background-position: bottom center;
    color: #FAF5E7; /* Adjust color to match the design */
    height: 700px; /* Set a fixed height for the footer */
    width: 100%;
    padding-top: 100px;
    position: relative; /* Set position to relative */
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between; /* Align text and logo to opposite ends */
    align-items: flex-end; /* Align items to the bottom */
    max-width: 1200px; /* Adjust as per your design's width */
    margin: 0 auto;
    position: absolute; /* Position footer content absolutely */
    bottom: 0; /* Align to the bottom of the footer */
    left: 0;
    right: 0; /* Align to both left and right edges */
    padding: 0 20px; /* Add padding to create space between edges */
  }
  
  .footer-text p {
    margin: 0;
    font-size: 16px; /* Adjust font size to match the design */
    /* Add additional styling */
  }

  .footer-text h1 {
    font-size: 50px;
    padding: none;
  }
  
  .footer-links .footer-link, 
  .footer-socials .social-link {
    text-decoration: none;
    margin-right: 15px; /* Space between links */
    /* Add additional styling */
  }
  
  .footer-logo img {
    width: auto; /* Adjust width to match the design */
    height: 50px; /* Adjust height to match the design */
  }
  
  .footer-logo {
    margin-top: auto; /* Push the logo to the bottom */
  }
  
  