.footer {
    background-image: url('../assets/footer-background.png');
    background-color: #FAF5E7; 
    background-size: cover;
    background-position: bottom center;
    color: #FAF5E7; 
    height: 600px;
    width: 100%;
    padding: 30px 20px;
    text-align: left;
    font-weight: bold;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: flex-end; 
    max-width: 1200px; 
    margin: 0 auto;
    height: 100%; 
  }

  .footer-group {
    display: flex;
    align-items:flex-start;
    gap: 50px;
  }
  
  .footer-text {
    display: flex;
    flex-direction: column;
  }
  
  .footer-text p {
    margin: 0;
    font-size: 16px;
  }
  
  .footer-text h1 {
    margin-bottom: 10px;
    font-size: 50px;
  }
  
  .footer-logo img {
    width: auto; 
    height: 150px; 
  }
  