
  .header {
    background-image: url('../assets/landing-background.png');
    background-size: cover;
    background-position: top center;
    background-color: #F5EDD6;
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: top center;
    align-items: center;
    padding-top: 100px;
  }


  .event-info {
    font-size: 1.5em; 
    color: #004d40; 
    text-align: center;
    margin-left: 450px;
    font-weight: bold;
  }

  .time-unit {
    font-size: 3em; 
    font-weight: bold;
  }
  
  
  